.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(rgb(12,12,12),rgb(56, 55, 51))
}

.title{
    font-size: 85px;
    color: white;
    animation: flipTitle 2s ease-out;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);

    }
    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgba(255, 255, 255,0.2);
    padding:15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.containerInput input{
    background: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px;
}
.containerInput input::placeholder{
    color: #d2d2d2;
}

.container span, .container h2{
    font-family:'Courier New', Courier, monospace;
  }

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex; /*display flex tbm serve pra alinhar centralizado*/
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 500px;
    border-radius: 8px;
    min-height: 220px;
}
.main h2{
    margin: 16px 0;
    font-size: 39px;
}
.main span{
    margin-bottom: 8px;
    font-weight: bold;
}

/* criando um media query para manipular
os estilos conforme o tamanho */
@media (max-width: 620px){
    .title{
        font-size: 50px;
    }
    .main h2{
        font-size: 28px;
    }
    .main{
        width: 80%;
    }
}